//
   Created by whiterblack on 25.04.16.
//Подключается в самом верху и является конфигом для админки


-var lteconf = {};
-lteconf.static_files_prefx = '/lte'//Префикс к статичным файлам
-lteconf.project = {fullname:'project fullname',mininame:['1','23']}//Имя проекта (полное и мини (используется в свернутом режиме))
-lteconf.getava = lteconf.static_files_prefx+'/img/avatar.png'//Строка с путём к аве
-lteconf.getusername = 'Пользователь'//cтрока с именем пользователя
-lteconf.path = {user:'',logout:''}//Строка с путями до страницы пользователя и страницы логаута
