//
   Created by whiterblack on 25.04.16.
mixin lte_left_menu
    ul.sidebar-menu
        li.header Основное
        li
            a(href='/')
                i.fa.fa-tachometer
                span Главная